.article-container {
  width: 350px;
  font-size: 18px;
  color: #003e70;
  background-color: #f4f5ff;
  border: 1px solid #caddf3;
}

.article-heading {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  color: #00457b;
}

.article-title {
  flex-grow: 1;
  font-size: 24px;
}

.article-author {
  font-size: 18px;
  color: #1f6893;
}